@media (max-width: 1900px) and (min-width: 1600px) {
  .contact-section::after {
    width: 480px;
  }
  .row.nav-pills-row {
    .tab-content-wrap {
      .tab-pane {
        .trainer-content-wrap {
          h4 {
            margin-bottom: 0;
          }
          .trainer-content1-ul {
            li {
              width: 160px;
              margin: 0 5px;
              .trainer-feature-wrap {
                .p-16 {
                  font-size: 16px;
                  line-height: 26px;
                }
                .trainer-feature-img {
                  position: relative;
                  min-height: 80px;
                }
              }
            }
          }
        }
        .trainer-content-wrap.trainer-content2 {
          h3 {
            margin-bottom: 24px;
          }
          .trainer-content1-ul {
            margin: 10px 0 0;
          }
          .p-16 {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .common-header-wrap .common-header.st .container {
    max-width: 1600px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1200px;
  }
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .transform-scale-img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .contact-section .contact-col-right {
    transform: scale(0.7);
    z-index: 9;
    transform-origin: 0 center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .row.nav-pills-row {
    .tab-content-wrap {
      .tab-pane {
        .trainer-content-wrap {
          h4 {
            margin-bottom: 0;
          }
          .trainer-content1-ul {
            li {
              width: 120px;
              margin: 0 5px;
              .trainer-feature-wrap {
                .p-16 {
                  font-size: 14px;
                  line-height: 24px;
                }
                .trainer-feature-img {
                  position: relative;
                  min-height: 80px;
                }
              }
            }
          }
        }
        .trainer-content-wrap.trainer-content2 {
          h3 {
            margin-bottom: 24px;
          }
          .trainer-content1-ul {
            margin: 10px 0;
          }
          .p-16 {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .home-sec1 {
    .home-sec2 {
      bottom: -60px;
    }
  }
  .get-assessed-line {
    bottom: 26px;
    right: 130px;
  }
  .build-plan-line {
    bottom: 70px;
    left: 230px;
  }
  .do-work4-line {
    bottom: 16px;
    right: 130px;
  }
  .contact-section .contact-col-left {
    max-width: 500px;
  }
  .contact-caro-info-outer h2 {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  .carousel-fade .carousel-item {
    background-color: $white;
  }
  .trainer-for-desktop-view {
    display: block !important;
  }
  .trainer-for-mobile-view {
    display: none !important;
  }
  .carousel-indicators.carousel-indicators-testimonial {
    left: 610px;
  }
}
@media (max-width: 1199.98px) {
  .trainer-for-desktop-view {
    display: none !important;
  }
  .trainer-for-mobile-view {
    display: block !important;
    background: $blue1;
    padding-top: 120px !important;
    padding-bottom: 150px !important;
    .h6-restless {
      color: $white;
      text-align: center;
      font-size: 72px;
      line-height: normal;
    }
    .trainer-feature-wrap {
      .p-16 {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .trainer-caro-xs-wrap {
      background: $blue1;
      .trainer-caro-xs {
        width: 300px;
        margin: auto;
      }
      .trainer-feature-wrap {
        text-align: center;
        margin: 50px 0 30px;
        .trainer-feature-img {
          max-width: 100px;
          margin: auto;
          min-height: 70px;
        }
      }
    }
    .trainer-content-wrap.trainer-content2 {
      .trainer-feature-wrap {
        .trainer-feature-img {
          min-height: 80px !important;
        }
      }
      .trainer-img {
        width: 305px;
        height: 305px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 40px;
      }
      .trainer-content1-ul {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    .trainer-caro-xs-wrap2 {
      margin-top: 50px;
      .carousel-indicators {
        bottom: -40px;
        [data-bs-target] {
          width: 13px;
          height: 13px;
          background: #7e6394;
          border: 0;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          margin: 0 7px;
          &.active {
            background: $white;
          }
        }
      }
    }
  }
  .home-sec6 {
    .home-sec-inner.text-center.common-home-sec-head {
      margin-bottom: 50px;
    }
  }
  .home-sec7 {
    padding-top: 0 !important;
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .transform-scale-img {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .contact-section .contact-col-right {
    transform: scale(0.7);
    z-index: 9;
    transform-origin: 0 center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .row.nav-pills-row {
    .tab-content-wrap {
      .tab-pane {
        .trainer-content-wrap {
          h4 {
            margin-bottom: 0;
          }
          .trainer-content1-ul {
            li {
              width: 120px;
              margin: 0 5px;
              .trainer-feature-wrap {
                .p-16 {
                  font-size: 14px;
                  line-height: 24px;
                }
                .trainer-feature-img {
                  position: relative;
                  min-height: 80px;
                }
              }
            }
          }
        }
        .trainer-content-wrap.trainer-content2 {
          h3 {
            margin-bottom: 24px;
          }
          .trainer-content1-ul {
            margin: 10px 0 0;
          }
          .p-16 {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .home-sec1 {
    .home-sec2 {
      bottom: -60px;
    }
  }

  .home-sec2 {
    .home-sec-inner {
      .book-assessment-list {
        max-width: 900px;
        min-width: 900px;
      }
    }
  }
  .home-sec4 {
    .pills-tab-wrap {
      .nav-pills {
        .nav-link {
          font-size: 18px;
        }
      }
    }
  }
  .get-assessed-line {
    bottom: 58px;
    right: 70px;
  }
  .build-plan-line {
    bottom: 110px;
    left: 150px;
  }
  .do-work4-line {
    bottom: 76px;
    right: 150px;
  }

  .home-sec4 {
    .home-sec-left.home-sec-left2 {
      margin-top: 180px;
      margin-left: 0;
    }
  }
  .home-caro-wrap {
    transform: scale(0.8);
  }
  .home-sec5 {
    .path-row4 {
      min-height: inherit !important;
      margin-bottom: 0;
    }
    .path-row2,
    .path-row3,
    .path-row4 {
      .transform-scale-img {
        transform-origin: 0 0;
      }
    }
  }
  .testimonial-caro {
    margin-bottom: 80px;
  }
  .home-sec9 {
    .container {
      .home-sec-inner {
        margin: 20px 0;
      }
    }
  }
  .home-sec10 {
    .container {
      margin-top: 30px;
    }
    .transform-scale-img {
      transform-origin: right center;
    }
  }
  .common-footer-wrap {
    .common-footer {
      .footer-nav-wrap {
        .footer-nav-ul {
          li {
            a {
              padding: 7px 15px;
            }
          }
        }
      }
    }
  }
  .carousel-indicators.carousel-indicators-testimonial {
    left: 540px;
    bottom: 80px;
  }
  .common-header .navbar .pr-nav-item .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
  .contact-section .contact-col-left {
    max-width: 400px;
    left: -100px;
  }
  .contact-col-right-outer-carosual {
    width: 50%;
  }
  .contact-caro-info-outer {
    h2 {
      font-size: 32px;
      padding: 0 15px;
      br {
        display: none;
      }
    }
  }
}
@media (min-width: 992px) {
  .hide-desktop {
    display: none !important;
  }
  .h-100vh {
    height: 100vh !important;
  }
}
@media (max-width: 991.98px) {
  .xs-sm-no-padding {
    padding: 0 !important;
  }
  .order-sm-xs-1 {
    order: 1 !important;
  }
  .contact-col-right-outer-carosual {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    .contact-caro-info-outer {
      .carousel-item-ul {
        li {
          &:not(:last-child) {
            margin-bottom: 13px;
          }
          span.number-span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: $red;
            width: 25px;
            height: 25px;
            min-width: 25px;
            min-height: 25px;
            padding-top: 1px;
          }
        }
      }
      .contact-caro-info1 {
        top: 10px;
      }
      overflow: hidden;
      padding-top: 70px;
      padding-bottom: 100px;
      height: inherit !important;
    }
    .carousel-indicators button {
      width: 13px;
      height: 13px;
    }
  }
  .feature-div {
    margin: 0 0 15px;
    div {
      font-size: 16px;
      .fas.fa-plus.fa-circle-div {
        font-size: 10px;
        vertical-align: middle;
        border: 2px solid $white;
        border-radius: 50%;
        padding: 3px;
        margin: 0 8px;
      }
    }
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .sm-xs-mt-30{
    margin-top: -30px !important;
  }
  .grey-triangle-before,
  .grey-triangle-after,
  .white-triangle-after {
    &:after,
    &::before {
      display: none !important;
    }
  }
  .order-md-sm-xs-1 {
    order: 1 !important;
  }
  .hide-tab {
    display: none !important;
  }
  .show-tab {
    display: block !important;
  }
  .contact-section {
    .logo-wrap {
      left: 50% !important;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    .row.contact-caro-row {
      margin-top: 30px;
    }
  }
  .transform-scale-img {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .contact-section .contact-col-right {
    transform: scale(0.7);
    z-index: 9;
    transform-origin: 0 center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .row.nav-pills-row {
    .tab-content-wrap {
      .tab-pane {
        .trainer-content-wrap {
          h4 {
            margin-bottom: 0;
          }
          .trainer-content1-ul {
            li {
              width: 120px;
              margin: 0 5px;
              .trainer-feature-wrap {
                .p-16 {
                  font-size: 14px;
                  line-height: 24px;
                }
                .trainer-feature-img {
                  position: relative;
                  min-height: 80px;
                }
              }
            }
          }
        }
        .trainer-content-wrap.trainer-content2 {
          h3 {
            margin-bottom: 24px;
          }
          .trainer-content1-ul {
            margin: 10px 0 0;
          }
          .p-16 {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .home-sec1 {
    .home-sec-inner-top {
      margin-top: 200px;
    }
    .home-sec2 {
      bottom: -60px;
    }
    .bg-video-wrap {
      height: 800px;
    }
  }

  .home-sec2 {
    .home-sec-inner {
      .book-assessment-b-ul-wrap {
        overflow-x: auto;
        &::after {
          display: none !important;
          content: "";
          position: absolute;
          top: auto;
          bottom: 20px;
          right: 0;
          z-index: 999;
          background: rgba(255, 255, 255, 0.7);
          width: 200px;
          height: 200px;
        }
        .book-assessment-b-ul {
          justify-content: start;
          a.book-assessment-btn {
            margin: 0 20px 30px;
          }
        }
      }
      .book-assessment-list {
        max-width: 640px;
        min-width: 640px;
      }
    }
  }
  .home-caro-wrap h2 {
    color: #311a75;
    position: static;
    top: 0;
    left: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    margin-left: 0;
    margin-top: 0;
    z-index: 9;
    text-align: center;
    margin-bottom: 70px !important;
  }
  .home-sec3 {
    padding-bottom: 0;
    .home-sec-inner.home-caro-wrap {
      .carousel {
        left: -130px;
      }
    }
  }
  .transform-scale-img {
    min-height: 450px;
    width: 100%;
  }
  .home-sec4 {
    padding-top: 0;
    padding-bottom: 0;
    .home-sec-left {
      margin: 50px auto 0;
    }
    .home-sec-right1 {
      max-width: inherit;
    }
    .home-sec-right2 {
      max-width: inherit;
      margin-left: 0;
    }
    .pills-tab-wrap {
      .nav-pills {
        .nav-link {
          font-size: 18px;
        }
      }
    }
    .home-sec-left.home-sec-left2 {
      margin-top: 0;
      margin-left: auto;
    }
  }
  .get-assessed-line {
    bottom: 58px;
    right: 70px;
  }
  .build-plan-line {
    bottom: 110px;
    left: 150px;
  }
  .do-work4-line {
    bottom: 76px;
    right: 150px;
  }

  .home-caro-wrap {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform-origin: center 0;
  }
  .home-sec5 {
    padding-bottom: 0;
    .home-sec-right.home-sec-right5 {
      margin-top: 90px;
    }
    .path-row3 {
      margin-top: 0;
    }
    .transform-scale-img {
      transform-origin: center 0;
    }
    .home-sec-left {
      margin-top: 50px;
      max-width: inherit;
      margin-bottom: 20px;
      h3 {
        .no-span {
          font-size: 150px;
          top: -43px;
          left: -27px;
          z-index: 0;
        }
      }
    }
    .path-row {
      min-height: inherit;
      margin-bottom: 130px;
    }
    .path-row4 {
      min-height: inherit !important;
      margin-bottom: 0;
    }
    .path-row2,
    .path-row3,
    .path-row4 {
      .transform-scale-img {
        transform-origin: center 0;
      }
    }
    .path-row4 {
      .home-sec-right.home-sec-right6 {
        margin-top: 60px;
        .transform-scale-img {
          margin-left: 90px;
        }
      }
    }
  }
  .home-sec6 {
    .home-sec-inner.text-center.common-home-sec-head {
      margin-bottom: 100px;
      margin-top: 0;
    }
  }
  .home-sec7 {
    .testimonial-caro-row {
      .testimonial-caro-right {
        position: relative;
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto 60px;
      }
    }
    .testimonial-caro-left p.p-18 {
      margin-bottom: 50px;
    }
  }
  .home-sec8 {
    background-attachment: inherit;
    .home-sec-inner.text-center.common-home-sec-head {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
  .testimonial-caro {
    margin-bottom: 0;
    .carousel-indicators {
      text-align: center;
    }
  }
  .home-sec9 {
    .container {
      .home-sec-inner {
        margin: 0 0;
      }
      .home-sec-inner {
        .h1 {
          color: $white;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
  .home-sec10 {
    padding-bottom: 60px;
    .container {
      margin-top: 0;
    }
    .transform-scale-img {
      transform-origin: right center;
    }
  }
  .common-footer-wrap {
    .common-footer {
      .footer-nav-wrap {
        .footer-nav-ul {
          li {
            a {
              padding: 7px 7px;
            }
          }
        }
      }
    }
  }
  .home-sec10 {
    .subscribe-right-col {
      text-align: right;
      position: relative;
      width: 504px;
      margin: 30px auto 0;
      display: block;
      float: none;
    }

    .home-sec-inner.subscribe-left-col {
      margin-top: 0;
      p.p-18 {
        max-width: inherit;
      }
      .form-subscribe-wrap {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .get-assessed-line-xs-img {
    bottom: -63px;
    top: auto !important;
    left: 220px !important;
  }
  .build-plan-line-xs-img {
    bottom: 22px;
    top: auto !important;
    left: 250px !important;
  }
  .do-work4-line-xs-img {
    bottom: -100px;
    top: auto !important;
    left: 250px !important;
  }
  .pricing-plan-row {
    .pricing-plan-col {
      .pricing-plan-card {
        .pricing-plan-card-head {
          position: relative;
          padding: 15px 15px 15px;
          .offer-label {
            top: 0;
            right: 0;
            transform: scale(0.7);
            transform-origin: right 40px;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
          }
          h4 {
            font-size: 30px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 22px;
            margin-bottom: 5px;
          }
        }
        .pricing-plan-card-body {
          ul li {
            margin-bottom: 28px;
            padding: 0 0 0 30px;
            margin-left: 7px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 15px;
          }
        }
      }
    }
    .pricing-plan-col.pricing-plan-col-center {
      .pricing-plan-card {
        .pricing-plan-card-body {
          margin-top: 20px;
        }
      }
    }
  }
  .common-header {
    .navbar {
      .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        height: 70px;
        width: 150px;
        img {
          top: 14px;
          left: 0;
          z-index: 5;
          height: 44px;
        }
      }
      .pr-nav-item-adj {
        position: relative;
        width: 124px;
        height: 50px;
        .btn {
          margin-left: 10px;
        }
      }
      .pr-nav-item {
        .nav-link {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          padding-left: 10px;
          padding-right: 10px;
          white-space: nowrap;
        }
      }
    }
  }

}

@media (max-width: 767px) {
.sm-xs-mt-30{
  margin-top: -30px !important;
}
  .xs-text-white{
    color: $white !important;
  }
  .panel-title-dashboard.mb-0.xs-text-white.xs-text-center{
    color: $white !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    -webkit-text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    -moz-text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .xs-d-block{
    display: block !important;
  }
  .xs-mt30 {
    margin-top: 30px !important;
  }
  .btn.btn-link-adj {
    background-color: $blue2;
    border-color: $blue2;
    color: $white;
    &:hover {
      background-color: rgba(115, 82, 209, 0.9);
      border-color: rgba(115, 82, 209, 0.9);
    }
  }
  .xs-pl-30 {
    padding-left: 30px !important;
  }
  .xs-pl-15 {
    padding-left: 15px !important;
  }
  .common-header {
    min-height: inherit;

    &.fixed-xs,
    &.fixed {
      .navbar-light {
        transform: scale(0.98);
        transform-origin: center 0;
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -o-transform: scale(0.98);
      }
      .navbar-toggler {
        .menu-icon {
          path {
            stroke: $blue2;
          }
        }
      }
    }
    .navbar {
      .navbar-toggler.navbar-toggler-btn {
        .nav-item.pr-nav-item.pr-nav-item-adj {
          transform: scale(0.7);
          transform-origin: right center;
          position: absolute;
          top: 18px;
          right: 60px;
          -webkit-transform: scale(0.7);
          -moz-transform: scale(0.7);
          -ms-transform: scale(0.7);
          -o-transform: scale(0.7);
        }
      }
      .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        height: 45px;
        width: 120px;
        img {
          top: 6px;
          left: 0;
          z-index: 5;
          height: 35px;
        }
      }
      .navbar-toggler.navbar-toggler-btn {
        width: 65px;
        height: 45px;
        padding: 0;
      }
      .navbar-toggler {
        border: 0 !important;
        &:active,
        &:focus,
        &:hover {
          box-shadow: none !important;
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          outline: 0 !important;
          border: 0 !important;
        }
        svg.menu-icon {
          transform: scale(1.2);
          transform-origin: -50px -20px;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }
      .pr-nav-item .btn {
        margin-left: -40px;
        margin-top: -4px;
      }
    }
    .navbar-nav.ms-auto.custom-navbar-nav-adj {
      margin-top: 20px;
      border-top: 1px solid #ddd;
      padding-top: 10px;
      .nav-item.pr-nav-item {
        width: 100%;
        display: block;
        text-align: center;
        .nav-link {
          font-size: 15px;
          line-height: normal;
        }
      }
    }
  }
  .common-section {
    padding: 70px 0;
    position: relative;
  }
  .show-mobile {
    display: block !important;
  }
  .order-md-sm-xs-1 {
    order: 1 !important;
  }
  .loading {
    margin-left: -40px;
  }
  .hide-mobile {
    display: none !important;
  }
  .contact-section {
    .logo-wrap {
      top: 20px;
      left: 50% !important;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    .row.contact-caro-row {
      margin-top: 30px;
    }
  }

  .grey-triangle-before,
  .grey-triangle-after,
  .white-triangle-after {
    &:after,
    &::before {
      display: none !important;
    }
  }
  .order-md-sm-xs-1 {
    order: 1 !important;
  }
  .contact-section {
    .logo-wrap {
      left: 50% !important;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    .row.contact-caro-row {
      margin-top: 30px;
    }
  }
  .transform-scale-img {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .contact-section .contact-col-right {
    transform: scale(0.7);
    z-index: 9;
    transform-origin: 0 center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .row.nav-pills-row {
    .tab-content-wrap {
      .tab-pane {
        .trainer-content-wrap {
          h4 {
            margin-bottom: 0;
          }
          .trainer-content1-ul {
            li {
              width: 120px;
              margin: 0 5px;
              .trainer-feature-wrap {
                .p-16 {
                  font-size: 14px;
                  line-height: 24px;
                }
                .trainer-feature-img {
                  position: relative;
                  min-height: 80px;
                }
              }
            }
          }
        }
        .trainer-content-wrap.trainer-content2 {
          h3 {
            margin-bottom: 24px;
          }
          .trainer-content1-ul {
            margin: 10px 0 0;
          }
          .p-16 {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .home-sec1 {
    margin-bottom: 230px;
    video {
      min-width: 100%;
      min-height: 100%;
      height: 550px;
      z-index: 1;
    }
    .p-20 {
      font-size: 14px;
      line-height: 22px;
    }
    .h6-restless {
      font-size: 36px;
      line-height: 30px;
    }
    .home-sec-inner-top {
      margin-top: 127px;
      padding: 0 20px;
    }
    .home-sec2 {
      bottom: -400px;
      width: calc(100% - 0px);
      margin: 0 auto 130px;
    }
    .bg-video-wrap {
      height: 550px;
    }
    .overlay {
      height: 100%;
    }
  }
  a.book-assessment-btn {
    padding: 15px 5px;
    width: 145px;
    margin: 0 auto;
    height: inherit;
    &::after {
      height: 3px !important;
    }
    p.p-16 {
      font-size: 13px;
      margin: 0;
    }
    .right-arrow {
      display: none !important;
    }
    .book-assessment-img-wrap {
      min-height: 80px;
      .book-assessment-img1 {
        max-height: 53px;
        margin-top: 19px;
      }
    }
  }
  @-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
      -moz-transform: translateX(6px);
      -ms-transform: translateX(6px);
      -o-transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .home-sec2 {
    .home-sec-inner {
      /*
      .book-assessment-b-ul-wrap {
        overflow-x: auto;
        &::after {
          display: none !important;
          content: "";
          position: absolute;
          top: auto;
          bottom: 20px;
          right: 0;
          z-index: 49;
          background: -moz-linear-gradient(
            left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: -webkit-linear-gradient(
            left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          width: 100px;
          height: 130px;
        }
        &::before {
          display: none !important;
          content: "";
          position: absolute;
          top: 114px;
          right: 10px;
          z-index: 59;
          background: url(../images/right-icon.svg) no-repeat 5px 5px;
          background-size: auto;
          width: 25px;
          height: 25px;
          -webkit-animation-name: hvr-icon-wobble-horizontal;
          animation-name: hvr-icon-wobble-horizontal;
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: infinite;
          background-size: 25px 25px;
        }
        .book-assessment-b-ul {
          justify-content: start;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          align-content: flex-start;
          padding: 0;
          margin: 10px 0 0;
        }
      }
      */
      .book-assessment-list {
        max-width: inherit;
        min-width: inherit;
        padding: 15px 0px 15px;
        margin-right: 0;
        margin-left: 0;
        .book-assessment-head {
          margin-bottom: 0;
          padding-bottom: 7px;
        }
        h4 {
          font-size: 18px;
          .restlessRegular-wrap {
            width: 63px;
            span.restlessRegular {
              font-size: 48px;
            }
          }
        }
      }
    }
  }

  .home-sec3 {
    position: static;
    padding-bottom: 0;
    height: 580px;
    .carousel-indicators.carousel-indicators-testimonial {
      transform: scale(1.7) !important;
      transform-origin: 0 0;
      bottom: -150px !important;
      -webkit-transform: scale(1.7) !important;
      -moz-transform: scale(1.7) !important;
      -ms-transform: scale(1.7) !important;
      -o-transform: scale(1.7) !important;
    }
    .home-sec-inner.home-caro-wrap {
      .carousel {
        left: -130px;
        top: 80px;
      }
    }
    .home-caro-wrap {
      .carousel-indicators.carousel-indicators-adj {
        button {
          span.p-22 {
            font-size: 26px;
            line-height: normal;
          }
        }
      }
    }
  }
  .transform-scale-img {
    min-height: 450px;
    width: 100%;
  }
  .home-sec4 {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    .home-sec-left {
      margin: 50px auto 0;
      height: 400px;
    }
    .home-sec-right1 {
      max-width: inherit;
    }
    .home-sec-right2 {
      max-width: inherit;
      margin-left: 0;
    }
    .pills-tab-wrap {
      .nav-pills {
        .nav-link {
          font-size: 16px;
          padding: 10px 15px;
          margin-right: 4px;
          height: 38px;
        }
      }
    }
    .home-sec-left.home-sec-left2 {
      margin-top: -50px;
      margin-left: auto;
    }
  }
  .get-assessed-line {
    bottom: 58px;
    right: 70px;
  }
  .build-plan-line {
    bottom: 110px;
    left: 150px;
  }
  .do-work4-line {
    bottom: 76px;
    right: 150px;
  }

  .home-caro-wrap {
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
    transform-origin: center 0;
    min-height: inherit;
    .carousel-fade .carousel-inner .carousel-item .d-block.w-100 {
      border: 65px $yellow solid;
    }
    h2 {
      color: #311a75;
      position: static;
      top: 0;
      left: 0;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      margin-left: 0;
      margin-top: 0;
      z-index: 9;
      text-align: center;
      margin-bottom: 70px !important;
      font-size: 40px;
      white-space: nowrap;
      margin-left: -50px;
    }
    .carousel-indicators.carousel-indicators-adj {
      transform: translateY(-50%) translateX(250px);
      -webkit-transform: translateY(-50%) translateX(250px);
      -moz-transform: translateY(-50%) translateX(250px);
      -ms-transform: translateY(-50%) translateX(250px);
      -o-transform: translateY(-50%) translateX(250px);
      margin-top: -100px;
    }
  }
  .home-sec5 {
    padding-bottom: 0;
    .home-sec-right.home-sec-right5 {
      margin-top: 90px;
    }
    .path-row3 {
      margin-top: 0;
    }
    .transform-scale-img {
      transform-origin: center 0;
    }
    .home-sec-left {
      margin-top: 50px;
      max-width: inherit;
      margin-bottom: 20px;
      h3 {
        .no-span {
          font-size: 96px;
          top: -45px;
          left: -10px;
          z-index: 0;
        }
      }
    }
    .path-row {
      min-height: inherit;
      margin-bottom: 130px;
    }
    .path-row4 {
      min-height: inherit !important;
      margin-bottom: 0;
    }
    .path-row2,
    .path-row3,
    .path-row4 {
      .transform-scale-img {
        transform-origin: center 0;
      }
    }
    .path-row4 {
      .home-sec-right.home-sec-right6 {
        margin-top: 60px;
        .transform-scale-img {
          margin-left: -30px;
        }
      }
    }
  }
  .home-sec6 {
    .home-sec-inner.text-center.common-home-sec-head {
      margin-bottom: 100px;
      margin-top: 0;
    }
  }
  .home-sec7 {
    .testimonial-caro-row {
      .testimonial-caro-right {
        position: relative;
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto 0px;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
      }
    }
    .testimonial-caro-left p.p-18 {
      margin-bottom: 30px !important;
    }
  }
  .home-sec8 {
    background-attachment: inherit;
    .home-sec-inner.text-center.common-home-sec-head {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  .testimonial-caro {
    margin-bottom: 0;
    .carousel-indicators {
      text-align: center;
    }
  }
  .home-sec9 {
    background-size: auto 344px;
    .container {
      .home-sec-inner {
        margin: 0 0;
      }
      .home-sec-inner {
        .h1 {
          color: $white;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .home-sec10 {
    padding-bottom: 60px;
    .container {
      margin-top: 0;
    }
    .transform-scale-img {
      transform-origin: right center;
    }
  }
  .common-footer-wrap {
    .common-footer {
      .footer-nav-wrap {
        .footer-nav-ul {
          li {
            a {
              padding: 7px 10px;
              font-size: 14px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .home-sec10 {
    .subscribe-right-col {
      text-align: right;
      position: relative;
      width: 504px;
      margin: 30px auto 0;
      display: block;
      float: none;
    }

    .home-sec-inner.subscribe-left-col {
      margin-top: 0;
      p.p-18 {
        max-width: inherit;
      }
      .form-subscribe-wrap {
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .get-assessed-line-xs-img {
    bottom: -63px;
    top: auto !important;
    left: 220px !important;
  }
  .build-plan-line-xs-img {
    bottom: 12px;
    top: auto !important;
    left: 250px !important;
  }
  .do-work4-line-xs-img {
    bottom: -100px;
    top: auto !important;
    left: 230px !important;
  }

  .pricing-plan-row {
    background: transparent;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    max-width: 100%;
    margin: 30px auto 0;
    .bg-strip1 {
      left: 0px !important;
      width: 100% !important;
      display: none !important;
    }
    .bg-strip2 {
      display: none !important;
    }
    .bg-strip3 {
      left: auto !important;
      right: 0px !important;
      display: none !important;
    }
    .pricing-plan-col-left {
      margin-left: 0;
    }
    .pricing-plan-col {
      background: $white;
      padding-right: 0;
      position: relative;
      border: 1px solid rgba(145, 143, 148, 0.3);
      box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
      margin-bottom: 26px;
      padding-bottom: 30px;
      .pricing-plan-card {
        .pricing-plan-card-head {
          position: relative;
          padding: 30px 17px 15px;
          .offer-label {
            top: 0;
            right: 0;
            transform: scale(0.7);
            transform-origin: right 40px;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
          }
          h4 {
            font-size: 40px;
            margin-bottom: 5px;
            .p-16.d-block {
              margin-top: 5px !important;
            }
          }
          h3 {
            font-size: 26px;
            margin-bottom: 25px;
          }
        }
        .pricing-plan-card-body {
          margin-top: 0;
          ul li {
            margin-bottom: 28px;
            padding: 0 0 0 30px;
            margin-left: 7px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .pricing-plan-col.pricing-plan-col-center {
      .pricing-plan-card {
        margin-top: 0;
        .pricing-plan-card-body {
          margin-top: 20px;
        }
      }
    }
  }
  .trainer-for-mobile-view {
    .h6-restless {
      font-size: 48px;
    }
    .trainer-content-wrap.trainer-content2 {
      h3 {
        font-size: 28px;
      }
      .trainer-img {
        width: 105px;
        height: 105px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .trainer-feature-wrap .p-16 {
      font-size: 16px;
      line-height: 26px;
    }
  }
  .testimonial-caro {
    .testimonial-caro-row {
      .testimonial-caro-left {
        padding-left: 0;
        padding-right: 0;
        .double-quate {
          position: absolute;
          top: 10px;
          left: -10px;
          width: 70px;
        }
      }
    }
  }
  .home-sec4 {
    .home-sec-right {
      .h4-restless {
        margin-bottom: 0px;
        line-height: normal;
      }
      .h3 {
        margin-bottom: 17px;
      }
      .h2 {
        color: $blue1;
        margin-bottom: 16px;
      }
    }
  }
  .home-sec5 .home-sec-inner {
    margin-bottom: 33px;
  }
  .pricing-plan-col.pricing-plan-col-center .basic-plan-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: normal;
  }
  .pricing-plan-col
    .pricing-plan-card
    .pricing-plan-card-foot
    .btn.bttn-primary.center-btn-xs {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 2;
  }

  .pricing-plan-col
    .pricing-plan-card
    .pricing-plan-card-foot
    .btn.btn-link-adj.center-btn-xs {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 2;
    margin-left: 0;
    margin-top: 10px;
  }
  .pricing-plan-col.pricing-plan-col-center {
    margin-top: 40px;
  }
  .term-card-wrap-inner {
    h3 {
      font-size: 22px;
      line-height: 35px;
    }
    .p-18 {
      font-size: 16px;
      line-height: 30px;
    }
  }
  .testimonial-caro .testimonial-caro-row .testimonial-caro-left {
    min-height: inherit !important;
  }

  .wrap.book-assessment-b-ul-wrap {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    // overflow: hidden !important;
    .carousel-btn {
      display: none !important;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      padding: 0.5em;
      z-index: 1;
      top: 5px;
      cursor: pointer;
    }
    .carousel-btn.previous {
      left: -10px;
      top: 50px;
      color: $blue1;
      font-size: 20px;
    }
    .carousel-btn.next {
      right: -10px;
      top: 50px;
      color: $blue1;
      font-size: 20px;
    }

    ul {
      position: relative;
      list-style-type: none;
      white-space: nowrap;
      list-style: none;
      padding: 0;
      flex-wrap: wrap;
      // overflow: visible;
      li {
        display: inline-block;
        width: 160px;
        text-align: center;
        padding-bottom: 15px;
        &:last-child {
          .book-assessment-img1 {
            max-height: 40px;
            margin-top: 25px;
          }
        }
      }
    }
  }
  .contact-caro-info-outer {
    .contact-caro-info-outer {
      .carousel-indicators button {
        width: 13px;
        height: 13px;
      }
    }
    .carousel-item-inner {
      .carousel-item-inner-wrap {
        max-width: inherit;
        margin: auto;
        width: 85%;
      }
    }
  }
  .contact-col-right-outer-carosual {
    margin-top: 80px;
    min-height: 30px;
    .contact-caro-info-outer {
      overflow: hidden;
      padding-top: 65px;
      padding-bottom: 80px;
      height: inherit !important;
      .contact-caro-info1 {
        top: 10px;
        right: -220px;
      }
      .contact-caro-info2 {
        display: none;
      }
    }
  }
  .common-section.contact-section {
    padding-top: 0;
    .logo-wrap {
      .color-logo {
        height: 35px;
      }
    }
  }
  .panel-carosual-xs {
    text-align: center;
    .hide-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 3;
    }
    .open-btn {
      position: absolute;
      top: 20px;
      z-index: 3;
      display: none;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
.play-music-wrap.text-center .play-music-wrap-inner{
  padding: 20px !important;
  .ppq-audio-player .play-pause-btn{
    transform: translateX(-50%) scale(0.8, 0.8);
    -webkit-transform: translateX(-50%) scale(0.8, 0.8);
    -moz-transform: translateX(-50%) scale(0.8, 0.8);
    -ms-transform: translateX(-50%) scale(0.8, 0.8);
    -o-transform: translateX(-50%) scale(0.8, 0.8);
  }
  &+.btn.bttn-primary{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform-origin: center center;
}
} 

 
}

@media (max-width: 575px) {
  .contact-section {
    .contact-col-left {
      padding: 0 5px;
      margin-bottom: 0;
      margin-top: 10px;
      .contact-caro-bottom {
        ul {
          display: block;
          li {
            margin-top: 0 !important;
            margin-bottom: 40px;
            &:after {
              display: none !important;
            }
            p {
              margin-top: 4px;
              margin-bottom: 0;
            }
          }
          .home-sec-img-outer {
            margin: auto !important;
          }
        }
      }
    }
    .row.contact-caro-row {
      margin-top: 30px;
      h3 {
        font-size: 28px !important;
        line-height: 120% !important;
        span.p-16 {
          font-size: 16px !important;
          line-height: 120% !important;
        }
      }
    }
  }

  .assessment-wrap {
    ul {
      li {
        display: inline-block;
        margin-right: 7px;
        button {
          margin-bottom: 10px;
        }
        .btn-time {
          width: 90px;
          height: 43px;
        }
        .btn-day {
          height: 90px;
          width: 43px;
          em {
            font-size: 16px;
          }
        }
      }
    }
  }
  .thanks-wrap {
    .p-18 {
      font-size: 16px;
      line-height: 26px;
    }
  }
  .trainer-content-wrap {
    .trainer-content1-ul {
      li {
        width: 110px;
        margin: 0 5px;
      }
    }
  }
  .home-sec4 {
    .transform-scale-img {
      transform: scale(0.6);
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform-origin: 40px 180px;
    }
  }
  .home-sec5 {
    .transform-scale-img {
      transform: scale(0.52);
      -webkit-transform: scale(0.52);
      -moz-transform: scale(0.52);
      -ms-transform: scale(0.52);
      -o-transform: scale(0.52);
      transform-origin: 60px 0;
    }
    .home-sec-right {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 5;
      height: 300px;
    }
    .home-sec-right.home-sec-right5 {
      margin-top: 40px;
      float: left;
      .transform-scale-img {
        transform: scale(0.46);
        transform-origin: 20px 0;
        -webkit-transform: scale(0.46);
        -moz-transform: scale(0.46);
        -ms-transform: scale(0.46);
        -o-transform: scale(0.46);
      }
    }
    .get-assessed-line-xs .get-assessed-line-xs-img {
      left: 92px !important;
      bottom: -120px !important;
    }
    .build-plan-line-xs {
      .build-plan-line-xs-img {
        left: 92px !important;
        bottom: -107px !important;
      }
    }
    .path-row3 {
      .do-work4-line-xs-img {
        bottom: -170px;
        top: auto !important;
        left: 60px !important;
      }
      .home-sec-right.home-sec-right5 {
        margin-top: 40px;
        float: left;
      }
    }
  }
  .home-sec6 .home-sec-inner.text-center.common-home-sec-head {
    margin-bottom: 60px;
    margin-top: 0;
  }
  .trainer-for-mobile-view {
    display: block !important;
    background: $blue1;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    .trainer-caro-xs-wrap2 {
      margin-top: 0;
    }
    .trainer-caro-xs-wrap {
      .carousel-control-prev,
      .carousel-control-next {
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          background-size: 20px 20px;
        }
      }
    }
  }
  .testimonial-caro .testimonial-caro-row .testimonial-caro-left h3 {
    margin-bottom: 10px;
  }
  .carousel-indicators.carousel-indicators-testimonial {
    margin: 0px auto 0 !important;
    bottom: -10px;
  }
  .common-home-sec-head h2 {
    margin-bottom: 15px;
  }
  .home-sec10 {
    padding-bottom: 0;
    .home-sec-inner.subscribe-left-col h2 {
      margin-bottom: 20px;
      color: #311a75;
      font-size: 28px;
      line-height: 40px;
    }
    .subscribe-right-col {
      transform: scale(0.65);
      transform-origin: 0 0px;
      text-align: center;
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65);
      -ms-transform: scale(0.65);
      -o-transform: scale(0.65);
      max-height: 350px !important;
    }
  }

  .form-subscribe-wrap {
    .btn.bttn-primary {
      position: static;
      top: 0;
      right: 0;
      z-index: 3;
      width: 142px;
      margin: 30px auto 0;
      display: block;
    }
    .subscribe-form-control {
      padding-right: 20px;
    }
  }
  .row.justify-content-center.path-row3.path-row {
    margin-top: -30px;
  }
  .home-caro-wrap .carousel-indicators.carousel-indicators-adj {
    button {
      &.active span.p-22 {
        opacity: 1;
      }
      span.p-22 {
        opacity: 0.5;
      }
    }
  }
  .common-footer-wrap .common-footer .footer-nav-wrap .footer-nav-ul li {
    width: 50%;
  }
  .common-footer-wrap .common-footer .footer-copyright-wrap p {
    font-size: 16px;
  }
  .common-footer-wrap .common-footer .footer-nav-wrap .footer-nav-ul {
    margin-left: 15px !important;
  }
}
