h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  color: #2c3e50;
  line-height: normal;
}
// X-Large devices (large desktops, min than 1400px)
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 120%;
  }
  h2,
  .h2 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
  }
  h3,
  .h3 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
  }
  .h4-restless {
    font-family: $font-restlessRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 30px;
  }
  p,
  .p {
    font-family: $font-dm-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) and (min-width: 992px) {
    h1,
    .h1 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 65px;
      line-height: 120%;
    }
    h2,
    .h2 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 120%;
    }
    h3,
    .h3 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
    }
    .h4-restless {
      font-family: $font-restlessRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 30px;
    }
    p,
    .p {
      font-family: $font-dm-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
    }
}

// Large devices (desktops, less than 992)
@media (max-width: 991.98px) and (min-width: 768px) {
    h1,
    .h1 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 65px;
      line-height: 120%;
    }
    h2,
    .h2 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 120%;
    }
    h3,
    .h3 {
      font-family: $font-playfair;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
    }
    .h4-restless {
      font-family: $font-restlessRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 30px;
    }
    p,
    .p {
      font-family: $font-dm-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .xs-text-center {
    text-align: center !important;
  }
  h1,
  .h1 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 120%;
  }
  h2,
  .h2 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
  }
  h3,
  .h3 {
    font-family: $font-playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
  }
  .h4-restless {
    font-family: $font-restlessRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 30px;
  }
  p,
  .p {
    font-family: $font-dm-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}
