// responsive view variable
@mixin xs {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin xxs{
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin tabMobile {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin tabdesktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktopXl {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
.dasboard-col-right-container{
  margin-left: 0;
  .dashboard-row-body{
    justify-content: flex-start !important;
  }
}
.rescheduled-session-card1 {
  overflow: hidden;
  .scheduled-card-body{
    background: url(../images/demo-scheduled-bg.png) right bottom  no-repeat;
    padding:18px 30px;
    @include xs{
      padding-bottom:25px; 
    }
    &::before{
      content: '';
      width: 6px;
      height: 100%;
      background-color: #FF668E;
      position: absolute;
      top: 0;
      left: 0;
    }
    
  }
  .icon-calendar {
    margin-left: -10px;
    margin-right: 5px;
    @include xs{
      margin-left: 0;
    margin-right: 0;
    width: 44px;
    }
  }
  .bttn-outline-primary2{
    height: 41px;
    margin-left: 50px;
    background-color: #FFF;
    @include xs{
     margin-top: 20px;
     margin-left: 0px;
    }
  }
  @include xs{
    .d-flex.align-items-center {
      justify-content: space-between;
    }
    .bttn-outline-primary2{
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform-origin: center 0;
}
  }
  .flex-grow-1.ms-3 {
    margin-top: 10px;
    @include xs{
      margin-left: 0 !important;
    }
  }
  h5 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #242424;
    margin-bottom: 0;
    @include xs{
      font-size: 16px;
    }
  }
  .p-16 {
    font-style: normal;
    font-weight: 400;
    color: #898989;
    margin-bottom: 0px;
    span{
      font-size: 16px;
      color: #2e2e2e;
      font-weight: 500;
      border-right: 1px solid #898989;

      &:last-child{
        border-right: 0px;
      }
      @include xs{
        display: block;
      }
    }
    @include xs{
      font-size: 12px;
    }
    
  }
}
.rescheduled-session-card2 {
  h2 {
    margin-top: 20px;
    text-align: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #2e2e2e;
    margin-bottom: 35px;
    @include xs{
      font-size: 22px;margin-bottom: 10px;
    }
  }
  .p-18 {
    max-width: 572px;
    margin: 0 auto 25px;
    text-align: center;
    color: #797979;
  }
  .card-3-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    .d-flex.align-items-center {
      min-width: 112px;
      margin: 0 20px;
      @include xs{
        display: block !important;
        min-width: 70px;
        margin: 0 20px;
        text-align: center;
        white-space: nowrap;
      }
      .card-img1 {
        margin-right: 13px;
        @include xs{
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
      .p-14 {
        color: #797979;
        margin-bottom: 0;
      }
      .p-16 {
        font-weight: bold;
        color: #2e2e2e;
        margin: 0;
      }
    }
  }
  .resent-otp-btn-wrap.resent-otp-btn-wrap-adj {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 5px;
    @include xs{
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .btn-start-now{
      @include xs{
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
        margin-bottom: 0;
}
    }
  }
}

.play-card{
  .play-card-body{
    padding:20px;
    display: flex;
    align-items: center;
    .play-view{
      border-radius:5px;
      overflow: hidden;
    }
    .play-view-img{
      width: 60px;
      height: 60px;
      margin-right: 20px;
      @include xs{
        width: 40px;
      height: 40px;
       }
    }
  }
  h5 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #242424;
    margin-bottom: 0;
    @include tabMobile{
      font-size: 14px;
    }
    @include xs{
     display: none;
    }
  }
  .p-16 {
    font-style: normal;
    font-weight: 400;
    color: #898989;
    margin-bottom: 0px;
    @include tabMobile{
      font-size: 12px;
    }
    @include xs{
      display: none;
     }
  }
  .btn-like{
    margin-left: 20px;
    background: transparent;
    border: 1px solid #C1C3C4;
    color: #2E2E2E;
    @include xs{
      margin-left:0px;
      margin-right:10px;

     }
  }

 
.ppq-audio-player{
  line-height:0px;
  height:auto;
  margin: 0 auto;
  background: transparent;
  .play-pause-btn {
    margin:0px;
    .play-pause-icon {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #FF668E;
      &:after {
        filter: brightness(100);
        background-image: url(../images/icon-play-pause-black.png);
        background-size: 37px 18px;
    }
  }
  }
  .player-time {
    display: none;
  }
  .player-bar{
    display: none;
  }
}


.bttn-outline-primary2{
  height: 41px;
  margin-left: 20px;
  background-color: #FFF;
  @include xs{
 padding: 0px 15px;
   }
}
@include xs{
  .flex-grow-1{
    flex-grow: 0!important;
  }
 }

}
.new-goal{
  position: absolute;
  bottom: 50px;
  right: 70px;
  background-color: #2B2343;
  border-radius: 30px;
  width:210px;
  height: 35px;
  z-index: 6;
  cursor: pointer;
  font-size: 16px;
  color: #FFF;
  font-weight: 500;
  font-family: DM Sans;
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  border: 0px;
  &::after{
    width: 70px;
    height: 70px;
    content: '';
    display: block;
    float: right;
    background-image: url(../images/new-year-logo.svg);
    margin-top: -5px;
    margin-left: auto;
  }
}
.new-goal-content{
  border-radius: 10px;
  padding: 20px;
.new-goal-modal-body{
  position: relative;
.new-goal-wrap{
  h3 {
    margin-top: 30px;
    font-family: Playfair Display !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    color: #2e2e2e !important;
  }
}
}
}

.music-strip-active{
display: block !important;
}
.music-strip-bottom-wrap-outer { 
  display: none;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 0;
  top: auto;
  width: calc(100% - 80px);
  z-index: 20;
  @include xs{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .music-strip-bottom-wrap {
    height: 90px;
    background: rgba(48, 35, 82, 0.9);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding: 10px 40px;
    @include xs{
      height: 65px;
      padding: 10px 10px;
     }
  }
  .music-strip-bottom1 {
    .song-img {
      margin-right: 20px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      animation: rotating 10s linear infinite;
      -webkit-animation: rotating 10s linear infinite;
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
      @include xs{
        width: 40px;
        height: 40px;        
        margin-right: 10px;
      }
    }
    .p-18 {
      color: #ffffff;
      font-weight: 500;
      margin-bottom: 0;
      @include xs{
        font-size: 16px;
        width: 80%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
       }
    }
    .p-14 {
      color: #ffffff;
      font-weight: 400;
      margin-bottom: 0;
      @include xs{
        font-size: 12px;
        width: 80%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
       }
    }
    @include sm{
      flex-grow: 1;
    }
    @include xs{
      flex-grow: 1;
    }
  }
  .music-strip-bottom2 {
    @include desktopXl{
      flex-grow: 0.2;
    }
    .play-music-audio {
      width: 424px;
      height: auto;
      margin-top: -15px;
      @include xs{
        width: 40px;
        margin-right: 10px;
      }
      @include sm{
        width: 40px;
        margin-right: 10px;
      }
    }
    .ppq-audio-player {
      background: transparent !important;
      .play-pause-btn {
        float: right;
        margin: 30px 0 0;
        @include xs{
         margin-top: 15px !important;
        }
      }
      .player-time {
        font-size: 14px;
        color: #ffffff;
      }
      .play-pause-btn .play-pause-icon {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
    }
  }
  .music-strip-bottom3 {
    .btn-like {
      margin-top: 20px;
      @include xs{
        margin-top: 5px !important;
       }
    }
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
}

.rescheduled-session-cols {
  position: relative;
  z-index: 10;
  margin-bottom: 90px;
  margin-top: 100px;
  @include xs{
    margin-top:0px;
  }
}
.hide-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.hide-card-overlay-active.dashboard-body {
  .dasboard-row-wrap {
    .dasboard-col-left,
    .dasboard-col-right-inner {
      opacity: 0;
      z-index: -999;
    }
  }
  .icon-gift-wrap-outer{
    opacity: 0;
      z-index: -999;
  }
}


.common-card.refer-friend-card1 {
	background: #FFEBF0;
	border: 3px solid #FFCDDA;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  @include xs{
    .d-flex.align-items-center{
      display: block !important;
    }    
    .flex-grow-1.ms-3{
      text-align: center;margin: 17px 0 15px !important;
    }
    .flex-shrink-0.align-items-center.btn-wrapper{
      text-align: center;
    }   
  }
  .btn-wrapper{   
    @include sm{
      width: 200px;float: right;text-align: right;
    }
    @include md{
      width: 200px;float: right;text-align: right;
    }    
  }
	border-radius: 10px;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	    .common-card-body{	
    padding: 30px 40px;
    @include xs{
    padding: 15px 20px;
    }
  }
  .icon-discount {
    margin-right: 15px;
    @include xs{
      margin: 0 auto 10px;
      display: block;
      width: 40px;
    }
  }
  h3{
    font-family: DM Sans;font-style: normal;font-weight: bold;font-size: 24px;color: #242424;
    margin-bottom:0;
    @include xs{
      font-size: 20px;
    }
  }
  .p-16{
    font-family: DM Sans;font-style: normal;font-weight: 500;color: #2E2E2E;
    margin:0;
  }
  .btn.btn-link.bttn-link {
    margin-top: 0px;
    margin-right: 15px;
    @include xs{
      margin: 0 0 10px !important;
    }
  }
}

.btn-refer-friend{
  border: 0px;
  background-color: transparent;
}
.icon-gift-wrap-outer{
  // position: relative;
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 260px;
  width: 69px;
  height: 69px;
  .icon-gift{
    animation:bounce 3s linear infinite;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  @include xs{
    position: fixed;
    bottom: 82px;
    right: 46px;
    top: auto;
    left: auto;
  }
}


@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid #E699BB;
  border-radius: 100%;
  animation-name: ripple;
  animation-duration:2s;
  animation-delay:0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.65,0,.34,1);
  z-index: -1;
}

.icon-gift-bg {
// position:absolute;
// left: 270px;
// top: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 69px;
width: 69px;
border-radius: 100%;
background: #2D156C;
border: 5px solid #E699BB;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);

span {
  position: relative;
  top:-4px;
  left:0px;
}

&::after {
  @include rings(2s, 0s);
}

&::before {
  @include rings(2s, 0.5s);
}
}

.refer-friend-card-modal{
    align-items: center;
    justify-content: center;
    display: grid;
  .refer-friend-card-inner-wrap{
    text-align: center;
  h3{
    font-family: Playfair Display !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 28px !important;
    color: #2e2e2e !important;
    margin-top: 50px;
    margin-bottom: 15px;
    @include xs{
      font-size:18px !important;
      br{
        display: none;
      }
    }
    }
  p{
    color: #898989;
  }
  .btn-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    .btn.btn-link{
      margin-top: 0px;
      margin-left: 0px;
    }
    .btn.bttn-primary{
      font-family: DM Sans;
      font-weight: bold;
      font-size: 18px;
      padding: 0 40px;
      text-transform: uppercase;
      @include xs{
        padding: 0 30px;
        font-size: 14px;
      }
    }
  }
  .refer-friends-img-wrap{
    img{
      @include xs{
        width:70%;
      }
    }
  }
}
}
.modal-right{
  @include xs{
    height: 50%;
  }
   font-size: 18px;
  .modal-dialog{
    position: fixed;
     z-index: 1055;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 0;
     max-width: 100%;
     width: 451px;
     left: auto !important;
     transform: translate3d(100%, 0, 0) !important;
     transition: transform .3s cubic-bezier(.25, .8, .25, 1)
  }
  .modal-content{
    height: 100vh;
    border-radius: .3rem 0 0 .3rem;
    border: 0;
    box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.08);
    @include xs{
        height: auto;
        border-radius:2rem 1.5em 0 0em;
        bottom:-102px;
        
    }
  }
  &.show{
    .modal-dialog{transform: translate3d(0, 0, 0) !important;}
  }
 }

@keyframes fadeOutUp {
	0% {
		transform: translatey(0);
	}
	25% {
		transform: translatey(8px);
	}
	50% {
		transform: translatey(0px);
	}
	75% {
		transform: translatey(8px);
	}
	100% {
		transform: translatey(0);
	}
  }
@keyframes animateRotate{
  0% {
      transform: rotate(0deg);}
  100% {
      transform: rotate(360deg);}
}

@keyframes bounce{
0%, 20%, 53%, 80%, 100% {
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);
}
40%, 43% {
  animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -8px, 0);
}
70% {
  animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -5px, 0);
}
90% {
  transform: translate3d(0,-4px,0);
}
}

@keyframes ripple {
from {
  opacity: 1;
  transform: scale3d(0.75,0.75,1);
}

to {
  opacity: 0;
  transform: scale3d(1.8,1.8,1);
}
}

.feedback-dialog{
  max-width: 840px;
  .modal-content{
    border-radius: 1rem;
  }
  .feedback-modal-body{
    padding: 50px;
    h3{
      font-family: DM Sans;
      font-size: 24px;
      font-weight: 700;
      color: #2e2e2e;
      margin: 0px 0px 30px 0px;
      text-align: center;
    }
    .feedback-main-wrap{
      max-height: 600px;
      overflow-y: scroll;
        .form-group{
          margin-bottom: 40px;
          @include xs{
            margin-bottom: 20px;
          }
          p{
            font-size: 16px;
            color: #242833;
            font-weight: 400;
            margin: 0px 0px 10px 0px;
          }
          .mandatory{
            color: #E82323;
          }
        
        }
        .inline-checkbox{
          margin-bottom: 10px;
        }
        .form-check{
          padding-left:2em;
          .form-check-input{
            width: 23px;
            height: 23px;
            margin-left: -2em;
          }
          label{
            font-size: 14px;
            font-weight: 500;
          }
        }
          /* width */
    &::-webkit-scrollbar {
      width: 7px;
     
      }
     /* Track */
     &::-webkit-scrollbar-track {
      background:transparent; 
      -webkit-border-radius: 20px;
      border-radius: 20px;
     
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
      background:#C4C4C4; 
      -webkit-border-radius: 30px;
      border-radius: 30px;
      position: absolute;
      right: -10px;

      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background:#C4C4C4; 
      }

      // .rating-wrap{
      //   background-color: #F4F4F4;
      //   border-radius: 30px;
      //   padding: 10px 30px;
      //   display: grid;
      //   align-items: center;
      //   @include xs{
      //     padding: 10px 15px;
      //   }
      // }

      .star-rating {
        font-size: 0;
        white-space: nowrap;
        display: inline-block;
        /* width: 250px; remove this */
        height:50px;
        overflow: hidden;
        position: relative;
        background: url('../images/rating.png');
        // background-size: contain;
        background-color: #F4F4F4;
        border-radius: 30px;
        @include xs{
          background: url('../images/rating-d.png');
        }
      }
      .star-rating i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        /* width: 20%; remove this */
        z-index: 1;
        background: url('../images/rating-selected.png');
        // background-size: contain;

      
        @include xs{
          background: url('../images/rating-selected-d.png');
        }
      }
      .star-rating input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        /* width: 20%; remove this */
        height: 100%;
        margin: 0px;
        padding: 0;
        z-index: 2;
        position: relative;
       
      }
      .star-rating input:hover + i,
      .star-rating input:checked + i {
        opacity: 1;
      }
      .star-rating i ~ i {
        width: 40%;
      }
      .star-rating i ~ i ~ i {
        width: 60%;
      }
      .star-rating i ~ i ~ i ~ i {
        width: 80%;
      }
      .star-rating i ~ i ~ i ~ i ~ i {
        width: 100%;
      }
      ::after,
      ::before {
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
      }
      
      .star-rating.star-5 {width: 340px;
        @include xs{
          width:300px;
        }
      }
      .star-rating.star-5 input,
      .star-rating.star-5 i {width:20%;
      }
      .star-rating.star-5 i ~ i {
        width:40%;
      }
      .star-rating.star-5 i ~ i ~ i {
        width:60%;
      }
      .star-rating.star-5 i ~ i ~ i ~ i {width:80%;
      }
      .star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}
      
      .star-rating.star-3 {width: 150px;}
      .star-rating.star-3 input,
      .star-rating.star-3 i {width: 33.33%;}
      .star-rating.star-3 i ~ i {width: 66.66%;}
      .star-rating.star-3 i ~ i ~ i {width: 100%;}
      

      

    }
  }
}