// responsive view variable
@mixin xs {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin tabMobile {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin tabdesktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktopXl {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

.body-analysis-modal{
  .assessment-wrap .p-18 {
    @include xs{
    color: #7352D1;
    }
  }

  // @include xs{
  //   background: #fff !important;
  //   .modal-dialog-centered {
  //     min-height: 100% !important;
  //     height: 100% !important;
  //     align-items: start !important;
  //   }
  // }

    @include xs{
      padding-top: 75px;
      .pagination-num.text-white.hide-desktop.show-mobile {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        font-size: 14px;
      }
    .modal-dialog-centered {
      margin: 16px;
      align-items: flex-start !important;
      .body-analysis-caro-right {
        padding: 30px 15px 0 15px;
    }
    .form-row3.desc-strip{
      background: #F7F4FF;
      p{
        margin: 12px 0;
        line-height: normal;
      }
    }
    }
  }
  .body-analysis-modal-content {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @include xs{
      margin-top: 40px;
    }
    & > .modal-body {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
    // @include xs{
    //   box-shadow: none !important;
    //   border-radius: 0px;
    //   -webkit-border-radius: 0px;
    //   -moz-border-radius: 0px;
    //   -ms-border-radius: 0px;
    //   -o-border-radius: 0px;
    //   border: 0 !important;
    //    & > .modal-body{
    //     padding-right: 0;
    //     padding-left: 0;
    //     padding-bottom: 0;
    //     border: 0 !important;
    //   }
    // }
  }

}


.row.body-analysis-caro-row {
  .body-analysis-caro-head-row {
    padding: 0 12px 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      border-bottom: 1px solid rgba(46, 46, 46, 0.1);
    }
    table {
      width: 100%;
      padding: 0;
      margin: 0;
      td {
        vertical-align: middle;
        &.back-btn-td{
          width: 10%;
        }
        &.title-td{
          width: 100%;
        }
        &.que-td{
          width: 20%;
          @include xs{
            opacity: 0 !important;
          }
        }
        .back-btn {
          width: 30px;
          display: block;
          margin: 0;
          .back-btn-img{
            @include xs{
              width: 14px;
            }
          }
        }
        .p-20 {
          font-family: DM Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          text-align: center;
          color: #2e2e2e;
          margin: 0;
          @include xs{
            font-size: 14px;line-height: normal;
          }
        }
        .p-16 {
          font-family: DM Sans;
          font-style: normal;
          font-size: 14px;
          text-align: center;
          color: #2e2e2e;
          margin: 0;
          white-space: nowrap;
          b {
            font-weight: bold;
            margin-right: 5px;
          }
          @include xs{
            font-size: 14px;line-height: normal;
          }
        }
      }
    }
  }
}

.progress.custom-progress {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  top: 11px;
  margin-left: -10px;
  .progress-bar {
    width: 10%;
    height: 4px;
    background: #7352d1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
}

.body-analysis-caro-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  .body-analysis-caro-left {
    width: 60px;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0;
    z-index: 9;
    @include sm{
      width: 52px;
      display: none !important;
    }
    @include xs{
      width: 52px;      
      display: none !important;
    }
  }
  .body-analysis-caro-right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .assessment-outer-wrap{
      @include sm{
        margin-bottom: 80px;
      }
      @include xs{
        margin-bottom: 60px;
      }
    }
    .assessment-wrap {
      @include xs{
        margin-bottom: 40px;
      }
      .p-18 {  
        @include xs{
          font-size: 16px;
        }
      }
    }
    @include sm{
      width: calc(100% - 52px);
      padding: 47px 15px 0 0;
    }
    @include xs{
      width: 100%;
      padding: 47px 0 0 0;
    }
    padding: 60px 15px 0;
    .row.form-row1 {
      min-height: 200px;    
      .date-fm-mb.max-w-180{
        margin-left: auto;
        margin-right: auto;
      }
      ul.button-group-wrap{
        padding: 0;
        margin: 0;
        li{
          display: block !important;
          margin-right: 0 !important;
          &:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }
    }
    .form-row2{
      text-align: center;
      min-height: 80px;
    }
    .form-row3{
      text-align: center;
      .p-14{
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #2E2E2E;
        margin: 30px 0 27px;
      }
    }
  }
}

.step-wrap {
  position: relative;
  height: 100%;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    background-color: rgba(46, 46, 46, 0.1);
    z-index: 9;
    height: 100%;
    width: 1px;
  }
  .circle-span-outer {
    float: right;
    margin-right: 7px;
    margin-top: 40px;
    position: relative; 
    z-index: 99;
    @include xs{
      margin-top: 40px;
    }
  }
  .circle-span {
    width: 36px;
    height: 36px;
    background: #EAEAEA;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2e2e2e;
    text-align: center;
    display: block;
    padding-top: 4px;
    outline: 10px solid #fff;
  }
}


.verticle-line {
	background: rgba(46,46,46,0.15);
	width: 1px;
	height: calc(100% - 20px);
	margin: auto;
	display: block;
}
.mb25{
  margin-bottom: 25px !important;
}
.mt25{
  margin-top: 25px !important;
}

.f-13{
  font-size: 13px !important;
}
.max-w-770{
  max-width: 770px;margin: auto;
}
.max-w-500{
  max-width: 500px;margin: auto;
}
.max-w-570{
  max-width: 570px;margin: auto;
}
.max-w-870{
  max-width: 870px;margin: auto;
}
.max-w-400{
  max-width: 400px;margin: auto;
}
.max-w-275{
  max-width: 275px;margin: auto;
}
.max-w-250{
  max-width: 250px;margin: auto;
}

.other-btn-usecase-wrap{
  max-width: 374px;margin: auto;  
}
.other-btn-usecase-wrap-js{
  .other-btn-usecase-wrap-inner{
    display: none;
  }
  .other-btn-usecase-wrap-inner{
    margin-top: 10px !important;
  }
  .fm-mb {    
    margin-bottom: 10px !important;
  }
}

.medical-histroy-wrap{
  .p-18.text-center {
    margin-bottom: 3px !important;
  }
  .p-14.text-center {
    margin-bottom: 25px !important;
  }
}

.thanks-analysis-caro-row{
  .thanks-analysis-caro-card{
    text-align: center;
    padding: 18px 20px 30px;
    max-width: 420px;
    margin: auto;
    h3 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      color: #7352D1;
      margin-bottom: 20px;
    }
    p.p-14{
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      color: #2E2E2E;
      margin-bottom: 15px;
    }
    .btn.bttn-primary{
      margin-top: 28px;margin-bottom: 10px;
      @include xs{
        margin-top: 15px !important;
        font-size: 14px !important;
        height: 40px !important;
      }
    }
  }
}

.button-group-wrap{
  .btn.bttn-outline-secondary-sm.bttn-sm {
    min-height: 42px;
    height: inherit;
    line-height: normal;
    padding-top: 9px;
    padding-bottom: 7px;
  }
}

.slidecontainer{
  .range-slider-label {
  @include xs{
    font-size: 12px;
    .ranger-weight-val{
      font-size: 16px;
      vertical-align: top;
    }
  }
  }
}

.thanks-analysis-caro-card-outer{
  @include xs{
    min-height: calc(100vh - 30px); height: 100%; display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;align-content: stretch;
  }
}
.modal-lg, .modal-xl {
  max-width: 870px;
}

// weight chart

.frame {
  position: relative;
  width: 310px;
  height: 271px;
  background: url(../images/score.jpg) no-repeat;
  margin: 0 auto;
  .sub-heading-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
    font-size: 18px;
    color: #898989;
  }
}

#slider {
  position: absolute;
  // width: 305px !important;
  // height:234px !important;
  top:37%;
  left:12%;  
  z-index: 1000;
}

#slider .rs-border  {
    border-color: transparent;
}
.rs-control .rs-range-color, .rs-control .rs-path-color, .rs-control .rs-bg-color {
    background-color: rgba(0, 0, 0, 0);
}
.rs-control .rs-handle {
  background: url(../images/pin.svg) no-repeat;
  cursor: pointer;
}
.rs-tooltip.edit{
	font-family: rubik, helvetica, sans-serif;
	font-size: 3.3rem;
	background: transparent;
  position: absolute;
  left:0px;
  right: 0;
  top: 40px;
  margin: 0 auto !important;
  text-align: center;
  font-size: 48px;
  color: #FF668E;
  font-weight: 500;
	height: 3.9rem;
  width: 5.5rem;
	padding: 0 !important;
  border: 0px;
}

.rs-tooltip .rs-input, .rs-tooltip-text {
	font-family: rubik, helvetica, sans-serif;
	font-size: 3.3rem;
	background: transparent;
  position: absolute;
  left:0px;
  right: 0;
  top: 13px;
  margin: 0 auto !important;
  text-align: center;
  font-size: 48px;
  color: #FF668E;
  font-weight: 500;
	height: 3.9rem;
  width: 5.5rem;
	padding: 0 !important;
  border: 0px;
}


.fas {
	animation: pulse 1s infinite;
}
@keyframes pulse {
	50% {
		transform: scale(.9);
	}
}


.date-fm-mb2{
  display: flex;
}

.form-select-wrap {
	position: relative;
  border: 1px solid#DADADA;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 10px;

  select {
	display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
	background-color:#fff;
	font-size: 16px;
	font-weight: 400;
	 padding: 0px;
  }
  
  /*style the arrow inside the select element:*/

  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active{
	&::after {
		content: "";
		background: url(../images/close.svg) no-repeat center center;
		top: 9px;
		width: 16px;
		height: 16px;
		opacity: 0.5;
	  }
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
	color: #979797;
	font-size: 14px;
	border:0px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	padding: 0px 0px;
  text-align: center;
	&:last-child{
		border-bottom: 0px;
	}
  }
  .select-items div{
	padding:5px 15px;
  }
  /*style items (options):*/
  .select-items {
	position: absolute;
	background-color:#FFF;
	top: -200%;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.08);
	max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
    color: #979797;
    font-size: 14px;

  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: #FFECF1;
	font-weight: 600;
  font-size: 20px !important;
  color: #FF668E !important;
  }

  ::-webkit-scrollbar {
		width: 2px;
		padding: 0px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	::-webkit-scrollbar-thumb {
		background: #7352d1;
		height: 10px;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		transition: all 0.2s linear !important;
		-webkit-transition: all 0.2s linear !important;
		-moz-transition: all 0.2s linear !important;
		-ms-transition: all 0.2s linear !important;
		-o-transition: all 0.2s linear !important;
	}
	::-webkit-scrollbar-track {
		width: 5px;
		background: #fff;
		opacity: 1;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #7352d1;
	}
	::-webkit-scrollbar:hover {
		width: 5px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
}
.btn-weight-height{
  border-radius: 50px;
  height: 35px;
    width: 60px;
}
.btn-gender{
  width: 101px;
  height: 89px;
  border-radius: 5px;
  &.active,
  &:hover {
    img{
      filter: brightness(100);
    }
  }
}

.form-select-wrap .select-hide {
  display: none;
  height: 0px;
}
.select-items{
  max-height: 280px;
  transition-duration: 10s;
}

.gender-wrap{
  li{
    span{
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: #2e2e2e;
    }
  
  }
}

div.owl-carousel .owl-nav .owl-prev, div.owl-carousel .owl-nav .owl-next{
   font-size:36px;
   top:unset;
   bottom: 15px; 
}

.select-owl.owl-carousel{
  transform: rotate(90deg);
  height: 75px; 
	background-color:#FFF;
	z-index: 99;
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	padding: 0px 0px;
  text-align: center;
  display: grid;
  align-items: center;

  .owl-stage-outer{
    z-index: 99999999;
    height: 100%;
  }
  .owl-item{
  
    text-align: center;
    color: #979797;
    font-size: 14px;
    display: grid;
    align-items: center;
    height: 100%;
    &:hover{
      background-color: #FFECF1;
      font-weight: 600;
      font-size: 20px !important;
      color: #FF668E !important;
    }
    div{
      transform: rotate(-90deg);
    }
  } 
  .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: calc(50% - 33px);
    
  }
  .owl-stage{
    height: 100%;
  }
} 
.height-accordion{
  background: url(../images/left-line.png) left 7px no-repeat;
  padding-left: 50px;
  .card{
    border: 0px;
    margin-bottom: 20px;
    background: transparent;
    flex-direction: row;
    .card-header {
      padding: 0rem;
      background-color: transparent;
      border-bottom: 0px solid rgba(0,0,0,.125);
      width: 60px;
      a{
        font-size: 14px;
        color: #898989;
      }
      .btn:not(.collapsed){
        color: #7352D1;
        font-size: 20px;
        font-weight: 600;
        
      }
     
    }
    .collapse-content-img{
      position: absolute;
      top: 20px;
      right: 0px;
      width: 203px;
    }
    .card-body {
      padding: 0rem 0rem;
  }

  }
}


