// responsive view variable
@mixin xs {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin tabMobile {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin tabdesktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktopXl {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

.gradinent-section-traning {
  background: rgb(246, 246, 249);
  background: -moz-linear-gradient(    left,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 50%,    rgba(71, 52, 124, 1) 50%,    rgba(71, 52, 124, 1) 100%  );
  background: -webkit-linear-gradient(    left,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 50%,    rgba(71, 52, 124, 1) 50%,    rgba(71, 52, 124, 1) 100%  );
  background: linear-gradient(    to right,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 50%,    rgba(71, 52, 124, 1) 50%,    rgba(71, 52, 124, 1) 100%  );
    @include sm{
      background: rgb(246, 246, 249);
  background: -moz-linear-gradient(    bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
  background: -webkit-linear-gradient(    bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
  background: linear-gradient(    to bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
    }
    @include xs{
      background: rgb(246, 246, 249);
  background: -moz-linear-gradient(    bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
  background: -webkit-linear-gradient(    bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
  background: linear-gradient(    to bottom,    rgba(246, 246, 249, 1) 0%,    rgba(246, 246, 249, 1) 44%,    rgba(71, 52, 124, 1) 44%,    rgba(71, 52, 124, 1) 100%  );
    }
  padding: 40px 0 !important;
  .carousel-fade .carousel-item {
    background-color: transparent;
  }
    .trainer-caro-xs-wrap2{
    margin-left: 0;
    position: relative;
    left: 40px;
    margin-bottom: 30px;
    @include sm{
      left: 0;
      margin-bottom: 30px;
    }
    @include xs{
      left: 0;
      margin-bottom: 30px;
    }
  }
  .trainer-img {
    width: 262px;
    height: 262px;
    border-radius: 8%;
    object-fit: cover;
    margin-bottom: 13px;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    @include sm{
      width: 200px;
      height: 200px;
    }
    @include xs{
      width: 150px;
      height: 150px;
    }
  }
  .carousel-indicators {
    bottom: -40px;
    [data-bs-target] {
      width: 13px;
      height: 13px;
      background: #7e6394;
      border: 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 7px;
      &.active {
        background: #fff;
      }
    }
  }
}

.common-section.home-sec1.landing-home-sec1{
  .how-it-work-row,
  .overlay,
  .bg-video-wrap {
    height: 850px;
    @include sm{
      height: 1200px;
      justify-content: start !important;
      align-items: start !important;
    }
    @include xs{
      height: 580px;
      justify-content: start !important;
      align-items: start !important;
    }
  }  
}
.slider-landing-wrap{
  margin-top: -120px;z-index: 29;position: relative;
  @include md{ 
      margin-top: -90px;
      }
      @include xs{ 
        margin-top: -110px;
        }
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}

.more-content-wrap-overflow {
  max-height: 260px !important;
  overflow: auto;
  h3 {
    text-align: center;
  }
  @include xs{
    max-height: 400px !important;
  }
}



.meditation-card {
  .book-assessment-img-wrap {
    min-height: 90px;
    position: relative;
    text-align: center;
    .book-assessment-img1 {
      position: relative;
      z-index: 5;
    }
  }
  .book-assessment-circle {
    margin: auto;
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
  }
  .book-assessment-img {
    margin: auto;
    display: block;
  }
}

.landing-home-sec1 {
  @include xs{
    margin-bottom: 0;
  }
  .home-sec-inner.home-sec-inner-top {
    // margin-top: 0;
    text-align: left;
    padding-left: 40px;
    max-width: 700px;
    @include xs{
      padding-left: 20px;
      margin-top: 130px;
    }
    @include sm{
      padding-left: 0px;
      margin-top: 150px;
    }
    p.p-20 {
      margin-left: 0 !important;
      margin-top: 30px !important;
      @include xs{
        margin-top: 10px !important;
        margin-bottom: 20px;
      }
    }
  }
}
.landing-form-panel-wrap {
  width: 400px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 30px;
  @include md{
    transform: scale(0.8) !important;
    transform-origin: 0 center;
    -webkit-transform: scale(0.8) !important;
    -moz-transform: scale(0.8) !important;
    -ms-transform: scale(0.8) !important;
    -o-transform: scale(0.8) !important;
}
@include sm{
  margin: -200px auto 0;
}
@include xs{
  transform: scale(0.9) !important;
  transform-origin: center 0;
  -webkit-transform: scale(0.9) !important;
  -moz-transform: scale(0.9) !important;
  -ms-transform: scale(0.9) !important;
  -o-transform: scale(0.9) !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  padding: 20px 18px;
  margin: -80px auto 0;
}
  h6.p-20 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 20px;
  }
  .fm-mb {
    position: relative;
    margin-bottom: 20px;
  }
}
.landing-owl-card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer !important;  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .form-check.form-check-box {
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 5;
    opacity:0;
    transition: all 0.2s linear;
    pointer-events: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
  &.active-click-card{
    .form-check.form-check-box {
      opacity: 1;
    }
  }
  .p-18{
    background: #311a75;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding-top: 8px;
    @include md{
      font-size: 16px;
    }
    @include sm{
      font-size: 16px;
    }
    @include xs{
      font-size: 16px;
    }
  }
 
}


.owl-comman-landing {
  position: relative;
  // top: 110px;
  .owl-nav {
    overflow: hidden;
    height: 0px;
    [class*="owl-"] {
      color: #2e2e2e;
      font-size: 39px;
      width: 44px;
      height: 44px;
      background: #ffffff;
      border: 1px solid #2e2e2e;
      box-sizing: border-box;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
      border-radius: 25px;
      margin-top: -10px;
      @include md{
        margin-top: -40px;
      }
      @include sm{
        margin-top: -30px;
      }
    }
    [class*="owl-"] {
      &:hover {
        background: #fff;
        color: #5110e9;
        border-color: #5110e9;
      }
    }
  }
  .item {
    text-align: center;
  }
  .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;
  }
  .owl-prev.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  .owl-prev {
    left: -35px;
  }
  .owl-next {
    right: -35px;
  }
  .prev-carousel {
    &:hover {
      background-position: 0px -53px;
    }
  }
  .next-carousel {
    &:hover {
      background-position: -24px -53px;
    }
  }
  .owl-dots {
    .owl-dot.active {
      span {
        background: #5110e9;
      }
    }
    .owl-dot {
      &:hover {
        span {
          background: #5110e9;
        }
      }
    }
  }
}
.home-sec3-landing {
  @include xs{
    height: inherit;
  }
  .home-sec3-inner {
    text-align: center;
    // margin-top: 100px;
    // @include xs{
    //   margin-top: 50px;
    // }
    // @include sm{
    //   margin-top: 20px;
    // }
    // @include lg{
    //   margin-top: 210px;
    // }
    h2 {
      color: #311a75;
      margin-bottom: 50px;
    }
  }
}

.sound-card {
  text-align: center;
  @include xs{
    margin-bottom: 40px;
  }
  .img-fluid {
    border: 50px solid #fff;
    border-radius: 50%;
    min-width: 320px;
    min-height: 320px;
    overflow: hidden;
    margin: 0 auto 10px;
    display: block;
    object-fit: contain;
    @include xs{
      border: 0;
      min-width: 200px;
      min-height: 200px;
margin: 0 auto 20px;
    }
  }
  .p-22 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #47347c;
    max-width: 300px;
    margin: auto;
    @include xs{
      font-size: 18px;
line-height: 26px;
    }
  }
  &:hover {
    .img-fluid {
      border-color: #ffc7c1;
    }
    .p-22 {
      font-weight: bold;
    }
  }
}


.home-sec5-landing,
.home-sec4-landing {
  @include xs{
    padding-top: 30px;
    padding-bottom: 60px;
  }
  @include sm{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .home-sec4-landing-info {
    max-width: 850px;
    text-align: center;
    margin: 0 auto 35px;
    h3 {
      color: #311a75;
      margin-bottom: 25px;
    }
    p.p-18 {
      color: #2e2e2e;
    }
  }
  .w-1140-container {
    max-width: 1140px;
    margin: auto;
  }
  .key-feature-left {
    position: relative;
    @include sm{
      text-align: center;margin-top: 130px;margin-bottom: 130px;
    }
    @include xs{
      text-align: center;
margin-top: 0;
margin-bottom: 50px;
padding: 0;
    }
    .landing-home-sec4-1 {
      position: relative;
      z-index: 5;
    }
    .landing-home-sec4-2 {
      position: absolute;
      bottom: -90px;
      left: -40px;
      z-index: 1;
    }
    .landing-home-sec4-3 {
      position: absolute;
      top: -30px;
      right: 20px;
      z-index: 1;
    }
  }
  .key-feature-right {
    max-width: 530px;
    margin: auto;
    h3 {
      color: #311a75;
      text-align: center;
    }
    .key-feature-right-ul {
      padding: 0;
      margin: 24px 0 0;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        align-content: stretch;
        min-height: 110px;
        background: #ffffff;
        border: 1px solid rgba(46, 46, 46, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-bottom: 30px;
        @include xs{
          min-height: 80px;
          padding: 15px;
          margin-bottom: 15px;
        }
        svg {
          // color: rgba(255, 102, 142, 0.3);
          width: 32px;
        }
        p.p-18 {
          color: #7352d1;
          margin: 0;
          padding-left: 26px;
          @include xs{
           padding-left: 15px;
          }
        }
        &:hover {
          background: #7352d1;
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
          svg {
            fill: #fff !important;
            path{
              fill: #fff !important;
            }
          }
          p.p-18 {
            color: #fff;
          }
        }
      }
    }
  }
}

.home-sec4-landing {
  .owl-stage-outer{
    padding: 0 20px !important;
  }
  @include xs{
  padding-top: 0;
  }
}
.home-sec4-1-landing {
  padding: 0;
  background: #615092;
  .row {
    min-height: 480px;
    @include sm{
      min-height: inherit;
padding: 90px 0;
    }
    @include xs{
      min-height: inherit;
padding: 70px 0;
    }
  }
  .home-sec4-1-landing-left {
    width: 500px;
    margin-left: 80px;
    @include xs{
      width: 100%;
    margin-left: 0;
    }
    h2 {
      margin-bottom: 30px;
      @include xs{
        margin-bottom: 20px;
      }
    }
    p{
      @include xs{
        margin-bottom: 0;
      }
    }
  }
  .home-sec4-1-landing-right {
    position: relative;
    .img-fluid {
      position: absolute;
      bottom: -240px;
      right: 0;
      z-index: 49;
      @include md{
        right: -50px;
      }
      @include sm{
        display: none;
      }
      @include xs{
        display: none;
      }
    }
  }
}

.home-sec4-2-landing {
  position: relative;
  .home-sec4-2-landing-top {
    max-width: 900px;
    margin: 0 auto 45px;
    h2 {
      color: #311a75;
      margin-bottom: 20px;
    }
    p {
      color: #2e2e2e;
    }
  }
  .home-sec4-2-row {
    max-width: 1170px;
    margin: auto;
  }
}

.meditation-card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 30px;
  text-align: center;
  height: calc(100% - 30px);
  .p-20 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #7352d1;
  }
  .p-16 {
    color: #2e2e2e;
  }
}

.step-landing-card {
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
  .step-landing-card-num {
    span {
      width: 60px;
      height: 60px;
      background: #f2f2f2;
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      color: #2e2e2e;
      border-radius: 50%;
      display: block;
      padding-top: 15px;
      @include xs{
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        padding-top: 7px;
      }
      &::before {
        content: "";
        background: url("../images/step-arrow-corner.png") no-repeat 0 0;
        width: 53px;
        height: 53px;
        position: absolute;
        top: 60px;
        left: 17px;
        @include xs{
          top: 50px;
          left: 20px;
          background-size: 40px auto;
        }
      }
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 28px;
        z-index: -1;
        border-top: 2px dashed #e0e0e0;
        @include xs{
          top: 18px;
        }
      }
    }
  }
  .step-landing-card-inner {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    .step-landing-card-head {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      background: #e3dcf6;
      border-radius: 4px;
      padding: 15px;
      .step-card-img {
        width: inherit;
        margin-right: 30px;
      }
      .p-22 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #7352d1;
      }
      .p-14 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #47347c;
        margin-bottom: 0;
      }
    }
    .step-landing-card-para {
      margin-top: 15px;
      .p-16 {
        color: #2e2e2e;
        text-align: left;
      }
    }
  }
}

.owl-comman-step-outer {
  max-width: 1100px;
  margin: 30px auto 0;
  position: relative;
  @mixin desktopXl {
    .owl-stage {
      display: flex;
  }
  .owl-item {
    display: flex;
    flex: 1 0 auto;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  }
 
  .owl-comman-step {
    .owl-stage-outer{
      .owl-stage{
        margin-left: -20px;
      }
    }
    .owl-nav {
      overflow: hidden;
      height: 0px;
      [class*="owl-"] {
        color: #2e2e2e;
        font-size: 39px;
        width: 44px;
        height: 44px;
        background: #ffffff;
        border: 1px solid #2e2e2e;
        box-sizing: border-box;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
        border-radius: 25px;
        margin-top: 120px;
        @include sm{
          margin-top: 150px;
        }
      }
      [class*="owl-"] {
        &:hover {
          background: #fff;
          color: #5110e9;
          border-color: #5110e9;
        }
      }
    }
    .item {
      text-align: center;
    }
    .nav-button {
      height: 50px;
      width: 25px;
      cursor: pointer;
      position: absolute;
      top: 110px !important;
    }
    .owl-prev.disabled {
      pointer-events: none;
      opacity: 0.25;
    }
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.25;
    }
    .owl-prev {
      left: -45px;
      @include xs{
        left: -10px;
      }
    }
    .owl-next {
      right: -45px;
      @include xs{
        right: -10px;
      }
    }
    .prev-carousel {
      &:hover {
        background-position: 0px -53px;
      }
    }
    .next-carousel {
      &:hover {
        background-position: -24px -53px;
      }
    }
    .owl-dots {
      .owl-dot.active {
        span {
          background: #5110e9;
        }
      }
      .owl-dot {
        &:hover {
          span {
            background: #5110e9;
          }
        }
      }
    }
  }
}

.pricing-plan-row-landing {
  .pricing-plan-col-left {
    margin-left: -60px;
  }
  .pricing-plan-col {
    position: relative;
    background: #fff;
    border: 1px solid rgba(145, 143, 148, 0.3);
    box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -5px 4px 50px rgba(0, 0, 0, 0.1);
    max-width: 950px;
    margin: 30px auto 0;
    min-height: calc(100% - 30px);
    .bg-strip {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
      display: block;
      z-index: 2;
      background: #47347c;
    }
    .pricing-plan-card {
      .pricing-plan-card-head-top {
        background: linear-gradient(229.22deg, #ff668e 3.79%, #3f1f68 126.92%),
          #7352d1;
        height: 70px;
        h3 {
          font-family: Playfair Display;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 35px;
          text-transform: capitalize;
          color: #ffffff;
          margin: 0;
          padding: 15px 30px;
          @include xs{
            margin: 0;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 40px;
          }
        }
      }
      .pricing-plan-card-head {
        position: relative;
        padding: 15px 47px 15px;
        @include xs{
          padding: 15px;
        }
        .offer-label {
          text-align: center;
          font-family: "DM Sans", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          color: #fff;
          position: static;
          background: #ff668e;
          border-radius: 4px;
          padding: 0px 10px;
          margin-top: 10px;
          display: inline-block;
        }
        h3 {
          font-family: "Playfair Display", serif;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 35px;
          color: #47347c;
          margin-bottom: 15px;
        }
        h4 {
          font-family: "DM Sans", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          color: #2e2e2e;
        }
      }
      .pricing-plan-card-body {
        margin-top: 8px;
        ul {
          padding: 0;
          margin: 0 0 0 14px;
          li {
            font-family: "DM Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #2e2e2e;
            background: url("../images/check.svg") no-repeat 0 0;
            margin-bottom: 22px;
            padding: 0 0 0 40px;
            margin-left: 27px;
            line-height: 24px;
          }
        }
      }
      .pricing-plan-card-foot {
        padding: 10px 40px 35px;
        .btn.btn-link-adj.center-btn-xs{
          @include xs{
            margin-top: 0 !important;position: static !important;transform: none !important;
          }
        }

      }
    }
  }
}

.h4-group-plan {
  display: flex;
  margin-bottom: 5px;
  .fm-mb {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 12px;
    @include xs{
      margin-bottom: 10px;
      margin-top: 0;
      margin-left: 12px;
    }
  }
}

.pricing-plan-card-inner2.pricing-plan-card-inner {
  display: flex;
  @include xs{
    flex-direction: column;
  }
  .pricing-plan-card-inner-left,
  .pricing-plan-card-inner-right {
    width: 50%;
    position: relative;
    @include xs{
      width: 100%;
    }
  }
  .pricing-plan-card-inner-left {
    border-right: 1px solid rgba(145, 143, 148, 0.3);  
    @include xs{
      border-right: 0;
      border-bottom: 1px solid rgba(145,143,148,0.3) !important;
      margin-bottom: 20px;
    }
  }
}

.recommended-label {
  background: url("../images/offer.svg") no-repeat 0 0;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 12px;
  right: 0px;
  width: 160px;
  height: 36px;
  padding-top: 3px;
  @include sm{
    transform: scale(0.8);
    transform-origin: right 40px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
@include xs{
  transform: scale(0.8);
  transform-origin: right 40px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
}
.offer-label-mt42 {
  @include desktopXl{
    margin-top: 42px !important;
  }  
}

.compare-plans-modal {
  .modal-dialog {
    max-width: 1170px;
    .modal-header {
    @include xs{
      padding: 0.5rem 0.5rem;
    }
    }

    .compare-plans-modal-header{
      // text-align: right;padding: 32px 0;
      @include xs{
        // padding: 15px 0;
      }
      .btn-close {
        top: 30px;right: 30px;  z-index: 49;font-size: 14px;padding: 8px;position: absolute;background-color: #fff;opacity: 1;border: 0;
        @include xs{
          top: 15px;
          right: 15px;
          z-index: 49;
          font-size: 10px;
          padding: 8px;
          position: absolute;
          background-color: #fff;
          opacity: 1;
          border: 0;
        }
      }
      .tab-toggle-btn-wrap {
        max-width: 320px;
        margin: auto;
        .toggle-wrap {
          margin: 0;
          @include xs{
            transform: scale(0.85);
            -webkit-transform: scale(0.85);
            -moz-transform: scale(0.85);
            -ms-transform: scale(0.85);
            -o-transform: scale(0.85);
            transform-origin: center center;
}
        }
      }
    }
  }
}

.compare-plans-table {
  tr,
  td {
    border: 1px solid #e5e5ed;
    .resent-otp-btn-wrap{
      white-space: nowrap;
    }
  }
  tr.tr-head1 td.td-head1, 
  td.td-head1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #7352d1;
    height: 60px;
    text-align: center;
    @include xs{
      font-size: 20px;
      height: 50px;
    }
  }
  tr.tr-head2 .td-head2, 
  .td-head2 {
    height: 80px !important;
    @include xs{
      height: 50px !important;
    }
    em {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      color: #2e2e2e;
      display: block;
      @include xs{
        font-size: 18px;
      }
    }
    span {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      color: #2e2e2e;
      display: block;
      @include xs{
        font-size: 12px;
      }
    }
  }
  .tr-head-border {
    height: 10px !important;
    td {
      border: 0 !important;
      height: 10px !important;
      background-color: #F2F2F6 !important;
    }
  }
  .td-head-border {
    border: 0 !important;
    width: 10px !important;
    background-color: #F2F2F6 !important;
  }
  tr {
    td {
      .check-icon {
       @include xs{
        width: 22px;
       }
      }
      a.resent-otp-btn{
        @include xs{
          font-size: 14px;
        }
      }
      &:first-child {
        height: 60px;
        background: #f6f6f9;
        padding: 5px 20px;
        @include xs{
          height: 50px;
          padding: 5px 10px;
          font-size: 14px;
        }
      }
      &:not(:first-child) {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2e2e2e;
        @include xs{
          font-size: 14px;
        }
      }
    }
  }
}

.home-sec6-landing{
  .trainer-content-wrap{
    transform: scale(0.80) !important;
    -webkit-transform: scale(0.80) !important;
    -moz-transform: scale(0.80) !important;
    -ms-transform: scale(0.80) !important;
    -o-transform: scale(0.80) !important;
    @include sm{
      transform: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      padding-top: 80px;
padding-bottom: 80px;
}
@include xs{
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  padding: 0 !important;

}
}
}

@media screen and (min-width:768px) and (max-width: 991px) {
  .home-sec3-landing-row{
    flex-wrap: nowrap;overflow: auto;
      justify-content: start !important;
  }
  .landing-slider-contaniner{
    background: transparent;padding: 0 20px;max-width: 100%;
    .owl-comman-landing {
      position: relative;
    }
  }
  .build-plan-line-xs-img {
    bottom: -68px !important;
    top: auto !important;
    left: 250px !important;
  }
  .do-work4-line-xs-img {
    bottom: -200px !important;
    top: auto !important;
    left: 250px !important;
  }
}

@media screen and (max-width: 767px) {
  .landing-home-sec1-xs{
    background-position: -630px center !important;
  }
  .landing-home-sec1-xs2{
    background-position: 46% center !important;
  }
  .trainer-caro-xs-cols {
    background: #47347c;
    padding-top: 60px;
  }
  .xs-pb60{
    padding-bottom: 60px !important;
  }
  .build-plan-line-xs-img {
    bottom: -128px !important;
    top: auto !important;
    left: 250px !important;
  }
  .do-work4-line-xs-img {
	bottom: -200px !important;
	top: auto !important;
	left: 250px !important;
}
.home-sec3-landing-row{
  flex-wrap: nowrap;overflow: auto;
    justify-content: start !important;
}
.pricing-plan-row-landing{
  .pricing-plan-col .pricing-plan-card .pricing-plan-card-body ul li {
    margin-bottom: 0;
font-size: 14px;
line-height: 24px;
padding-left: 30px;
margin-left: 0;
  }
  .pricing-plan-col .pricing-plan-card .pricing-plan-card-body {
    margin-top: 5px !important;
  }
}

.form-subscribe-wrap {
  margin-top: 22px !important;
  .btn.bttn-primary {
    margin: 20px auto 0;
  }
  .subscribe-form-control{
    height: 45px;
    &:hover,
    &:active,
    &:focus{
      height: 45px;
    }
  }
}
.trainer-content-wrap {
  // align-items: start !important;
  .trainer-content1-ul {
    li {
      width: 140px;
    margin: 10px 5px 10px;
    }
  }
}
.trainer-content-wrap .trainer-content1-ul{
  flex-direction: row;
  flex-wrap: nowrap;
  transform: scale(0.8);
  transform-origin: center 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  margin: 0 !important;
}
.trainer-content-wrap{
  margin-bottom: 30px;
  margin-top: 10px;
  @include xs{
    margin-bottom: 0;
  }
  h4 {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.xs-pb60.xs-pl0.xs-pr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.home-sec5 .path-row4 .home-sec-right.home-sec-right6 .transform-scale-img {
  margin-left: -50px;
}
.home-sec5 .home-sec-right img.get-assessed3 {
	top: 36px;
	left: 0px;
	z-index: 2;
}
.home-sec5 .home-sec-right img.get-assessed4 {
	top: 100px;
	left: -38px;
	z-index: 1;
}
.home-sec5 .home-sec-right img.get-assessed3 {
	top: 36px;
	left: 0px;
	z-index: 2;
	width: 550px;
}
.home-sec2-landing {
	transform: scale(0.85) !important;
	transform-origin: center 0;
	-webkit-transform: scale(0.85) !important;
	-moz-transform: scale(0.85) !important;
	-ms-transform: scale(0.85) !important;
	-o-transform: scale(0.85) !important;
}
}
@media screen and (max-width: 575px) {
.home-sec5 {
  .home-sec-right {
    img.get-assessed1 {
      top: 200px;
      left: -60px;
      z-index: 4;
    }
    img.get-assessed3 {
      top: 36px;
      left: 30px;
      z-index: 2;
      width: 550px;
    }
  }
}

}


