// responsive view variable
@mixin xs {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin tabMobile {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin tabdesktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktopXl {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

.planner-title{
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #898989;
margin-bottom: 20px;
  @include xs{
    margin-bottom: 10px;
  }
}
.session-strip{  
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;  
  padding-bottom: 20px;
  position: relative;
  @include xs{
    padding-bottom: 70px;
  }
    &:not(:last-child){
      border-bottom: 1px solid rgba(36,36,36,0.2);
      margin-bottom: 20px;
    }
  .date-wrap{
    flex-grow: 0;
    .date-wrap-circle {
      width: 69px;
      height: 69px;
      background: #EFEBFA;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      margin-right: 20px;
      @include xs{
        width: 56px;
        height: 56px;
      }
      .p-14 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        color: #2E2E2E;
        opacity: 0.5;
        margin: 0;
      }
      .p-20 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        color: #2E2E2E;
        margin: -10px 0 0;
        @include xs{
          margin-top: -8px !important;
        }
      }
    }
  }
  .content-wrap{
    flex-grow: 1;
    text-align: left;
    .p-18 {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      color: #2E2E2E;
      margin: 0;
      @include xs{
        font-size: 14px;
        line-height: 18px;
      }
    }
    .p-14 {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      color: rgba(46, 46, 46, 0.5);
      margin: 0;
    }
  }
  .button-wrap{
    flex-grow: 0;
    white-space: nowrap;
    .btn.bttn-outline-primary2.bttn-sm{
      font-size: 14px;height: 40px;
      white-space: nowrap;
      &.ml25{
        margin-left: 25px;
        @include xs{
          margin-left: 5px !important;
        }
      }      
    }
    @include xs{
      position: absolute;
      bottom: 18px;
      left: 70px;
      z-index: 5;
    }
  }
}